@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Outfit:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}



.container{
    background-color:hsl(212, 45%, 89%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 5rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
}

img{
    width: 100%;
    border-radius: 12px;
}

.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.top-detail{
    font-weight: 700;
}
.bottom-detail{
    color:  hsl(212, 45%, 89%);
    padding-top: 10px;
}


@media screen and (max-width: 375px){
    .container{
        margin: 1rem;
        padding: 1rem;
    }

    .card{
        padding: 10px;
    }
}

@media screen and (min-width:375px) and (max-width:700px){
    .container{
        margin: 2rem;
        padding: 3rem 0;
    }
    .card{
        padding: 15px;
        width: 350px;
    }
}